**/*.php.temp
**/*.txt
**/*.iml
!git_sync_excluded.txt

# composer vendor dir
/vendor

# IDE files
/.id
/.vscode

.DS_Store
coverage.clover

.travis/README.md
.travis/scripts

deployment_keys
deployment_keys-private
deployment_keys.tar

.travis/github-labels-policy.json
.travis/github-labels.json

# BEHAT feature files
/tests/features/