**/*.php.temp
**/*.txt
**/*.iml
!git_sync_excluded.txt

# composer vendor dir
/vendor

# IDEA files
/.idea

.DS_Store
coverage.clover

# Environment files (for local development) #
#############################################
.env.dev
.env.test
.env.prod

# GitHub Actions #
##################
.github/.release
