<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Pubnub Test Suite">
            <directory>./tests/unit/</directory>
            <directory>./tests/integration/</directory>
        </testsuite>
    </testsuites>
</phpunit>
